In [1]:
%run inventory-analyzer.py
cars_df = load_car_data("cars_cfpnp.json")

loaded 1945 existing cars

In [2]:
cars_df.iloc[1]

vin                              1G1PC5SB8D7142541
year                                          2013
make                                     CHEVROLET
model                                        CRUZE
color                                         GRAY
engine                  L4, 1.4L; DOHC; VVT; TURBO
row                                              6
available_date                            04/25/24
first_seen        2024-04-26T15:46:51.524183+00:00
last_seen         2024-05-30T13:48:55.326839+00:00
available                                     true
Name: 1, dtype: object

In [3]:
engines = []
for i in cars_df.iloc:
    result = parse_engine_string(i['engine'])
    if result != None:
        engines.append(result)
engines_df = pd.DataFrame(engines)

In [4]:
engines_df

     type  cylinders  displacement
0       V          6           3.7
1       L          4           1.4
2       V          6           3.6
3       L          4           2.0
4       L          4           1.8
...   ...        ...           ...
1929    V          8           5.4
1930    V          8           4.6
1931    V          8           5.4
1932    L          6           3.2
1933    V          8           5.0

[1934 rows x 3 columns]

In [5]:
engines_df.describe()

         cylinders  displacement
count  1934.000000   1934.000000
mean      5.227508      2.952637
std       1.334003      1.059849
min       3.000000      1.000000
25%       4.000000      2.000000
50%       6.000000      2.500000
75%       6.000000      3.600000
max      10.000000      6.800000

In [6]:
engines_df.sort_values(by=['displacement'])

     type  cylinders  displacement
1218    L          3           1.0
1391    L          3           1.0
656     L          3           1.0
865     L          3           1.0
1874    L          4           1.2
...   ...        ...           ...
558     V          8           6.0
1627    V          8           6.0
1522    V          8           6.2
589     V          8           6.2
1699    V         10           6.8

[1934 rows x 3 columns]